<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>These are all the users</h1>
    <ul>
        <% for (items of getUsers) { %>
            <li><%= items.username %></li>
            <li><%= items.password %></li>
            <a><%=items._id%></a>
            <li><a href="/user/newuser/<%=items._id%>">Edit</a></li>
            <li><a href="user/newuser/delete/<%items._id%>">Delete</a></li>
          <% }  %> 
    </ul>
    <h1>Create a User</h1>
    <form method="POST" action="/user/newUser">
        <input name="username" placeholder="Username" type="text">
        <input name="password" placeholder="Password" type="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>