<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>These are all the users</h1>
    <ul>
        <% for (items of getUsers) { %>
            <li><%= items.username %></li>
            <li><%= items.password %></li>
            <a><%=items._id%></a>
            <li><a href="/user/newuser/<%=items._id%>"> Edit</a></li>
          <% }  %> 
    </ul>

</body>
</html>